a {
    margin-left: 30px;
    margin-top: 10px;


}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    



}
.top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;


}
.link1 {

    display: flex;
    margin-left: 1250px;
    
    

}
.midheader {
    display: flex;
    margin-left: 125px;
    margin-top: 100px;




}
.midheaderpara {

    display: flex;
    flex-wrap: wrap;
   width: 1250px;
   
    


}
p {
    display: flex;
    margin-left: 250px;
    

}
.sign-up {
    display: flex;
    margin-left: 250px;



}
.animage {
    display: flex;
    justify-content: flex-end;
    align-items: center;


}
body {
    display: flex;


}







.paraimage {
    display: flex;
  


}
.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;


}
.square {
    margin: 25px;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 150px;
    border: solid 2px black;
    color: black;
    border-radius: 4px;
    border-radius: 7%;
}
.squares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 250px;
    
  
    

}
.quote {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-left: 250px;


}
.signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 250px;
    margin-left: 250px;
    

}
.signupbutton {
    justify-content: center;
    display: flex;
    margin-left: 50px;



}

.signupword {
    display: flex;
    justify-content: center;


}
.footer {
    display: flex;
    justify-content: center;
    margin-top: 250px;

}
