body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(31,41,55);
    color: white;
    margin: 0px;

}

a {
    margin-left: 30px;
    margin-top: 10px;
    color: white;


}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    



}
.top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;


}
.link1 {

    display: flex;
    margin-left: 1250px;
    
    

}
.midheader {
    display: flex;
    margin-left: 125px;
    margin-top: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;




}
.midheaderpara {

    display: flex;
    flex-wrap: wrap;
   width: 1250px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    


}
p {
    display: flex;
    margin-left: 250px;
    

}
.sign-up {
    display: flex;
    margin-left: 250px;



}
.animage {
    display: flex;
    justify-content: flex-end;
    align-items: center;


}
body {
    display: flex;


}







.paraimage {
    display: flex;
  


}
.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    color: black;
   


}
.square {
    margin: 25px;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 150px;
    border: solid 2px black;
    color: black;
    border-radius: 4px;
    border-radius: 7%;
    
}
.squares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 250px;
   
    
  
    

}
.quote {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-left: 250px;


}
.signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 250px;
    margin-left: 250px;
    

}
 .sign-up {
    
    color: white;
    background-color: rgb(41, 72, 192);
   

 }





.signupword {
    display: flex;
    justify-content: center;


}
.footer {
    display: flex;
    justify-content: center;
    margin-top: 250px;

}

.sec2 {
    background-color: white;
   width: 100%;
   margin: 0px;
   padding-right: 450px;

}

.sec3 {
    background-color: rgb(187, 195, 207);
    width: 100%;
    margin: 0px;
    padding-right: 450px;
    padding-top: 1px;
    padding-left: 50px;
    padding-bottom: 50px;


}
.signup {
    display: flex;
    background-color: rgb(41, 72, 192);
}